.image-slider {
  
  position: relative;
  aspect-ratio: 10/5;
  

  overflow: hidden;

}
.image-slider__images{
  display: flex;
  
  width: 100%;
  height: 100%;

  

  
}
.image-slider__image {
  
  object-fit: cover;
  width: 100%;
  height: 100%;
  flex-grow:0 ;
  flex-shrink: 0;
  
}
.image-slider__button {
  all: unset;
  color: black;
  position: absolute;
  inset-block-start: 0;
  inset-block-end: 0;
  padding: 2.5%;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
  background-color: rgba( 0, 0, 0, 0.2);

  
}
.image-slider__button > *{
  /** для всего что лежит внутри блока с кнопкой то есть для иконки*/
  stroke: white;
  fill: black;
  width: 2rem;
  height: 2rem;
  
}
.image-slider__button:hover,
.image-slider__button:focus-visible{
  background-color: rgba( 0, 0, 0, 0.4);
  
}


.image-slider__button.left{
  inset-inline-start: 0;
}
.image-slider__button.right{
  inset-inline-end: 0;
}


.image-slider__bullets{
  position: absolute;
  display: flex;
  inset-inline-start: 50%;
  inset-block-end: 0.5rem;
  transform: translate(-50%);


  gap: 5px;
}

.image-slider__bullet-btn{
  all: unset;
  cursor: pointer;
  
}
.image-slider__bullet-btn:hover,.image-slider__bullet-btn:focus-visible{
  scale: 1.3;
}
/** то есть всё что внутри блока а у нас там иконка  */
.image-slider__bullet-btn > * {
  width: 100%;
  height: 100%;
  fill: black;
  stroke: white;
}


/** создаем анимацию для кнопок влево/вправо */
@keyframes squish {
  50%{
    scale: 1.4 0.6;
  }
}


@media not (prefers-reduced-motion) {
  .image-slider__images{
    transition: translate 0.3s ease 0s;
  }

  .image-slider__button:hover > *,
  .image-slider__button:focus-visible > *{
    animation: squish 0.2s ease 0s ;
    
  }


  .image-slider__bullet-btn{
    transition: scale 0.3s ease 0s;
  }
}